/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    display: flex;
    max-width: 100%;
    padding: 0;
}

.card-icon {
    font-size: 40px;
    color: #4A4545;
    margin-right: 20px;
}

.dashboard-buttons h8 {
    font-weight: 600;
    color: #4A4545;
}

.sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: #ecf0f1;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
}

.sidebar-header {
    padding: 20px;
    background-color: #1abc9c;
    text-align: center;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.sidebar-menu li {
    border-bottom: 1px solid #34495e;
}

.sidebar-menu li a {
    display: block;
    padding: 15px 20px;
    color: #ecf0f1;
    text-decoration: none;
    transition: background 0.3s;
}

.sidebar-menu li a:hover {
    background-color: #16a085;
}

.main-content {
    margin-left: 250px;
    flex-grow: 1;
    padding: 20px;
    background-color: #ecf0f1;
}

.main-header {
    background-color: #3498db;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
}

.content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .main-content {
        margin-left: 0;
    }
}